# ----------------------------------------------------------
# Compiler configuration
# ----------------------------------------------------------
CC = cc
CXX = c++
CFLAGS = -Wall -O0 -g
CLIBS = -lm
AR = ar rcu
RANLIB = ranlib


# ----------------------------------------------------------
# Dependencies (set to 1 if available) and other flags
# ----------------------------------------------------------
HAVE_MPI = 0
HAVE_HDF5 = 1


# ----------------------------------------------------------
# Library locations
# ----------------------------------------------------------
HDF5_HOME = /usr/local
LUA_HOME = /usr/local

